---

---

<div id="screen-foto" class="screen p-6 bg-white min-h-screen rounded-2xl hidden">
    <header class="mb-8 border-b pb-4 border-gray-200">
        <h2 class="text-3xl font-bold text-gray-800">Gestione Foto</h2>
    </header>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    </div>
</div>
