---
import About from "../components/About.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Works from "../components/Works.astro";
---

<div>
	<!-- Header -->
	<Header />

	<!-- Hero -->
	<Hero />

	<!-- Works -->
	<Works />

	<!-- About -->
	<About />

	<!-- Services -->
	<Services />

	<!-- CTA Finale -->
	<CTA />

	<!-- Footer -->
	<Footer />
</div>
