<!-- About -->
<section class="bg-[#0f0b1c]">
    <div>
        <h2 class="text-center">Chi sono</h2>
        <p>
            Ciao! sono Giovanni Uguccioni. Mi occupo di fotografia aziendale e
            fotografia commerciale in tutte le loro declinazioni: dalla ricerca
            del mood alla costruzione del set, fotografia di moda e Still life
            di prodotti e-commerce, dai servizi fotografici per il settore del
            food al reportage aziendale, dalla fotografia di interni e design
            alla creazione di contenuti per social, stories, reel e backstage.
        </p>
        <div class="grid grid-cols-2">
            <div>
                <h3>Vision</h3>
                <p>
                    We envision a world where visuals inspire empathy and
                    creativity drives connection.
                </p>
            </div>
            <div>
                <h3>Mission</h3>
                <p>
                    To translate human emotion into visual form – one frame at a
                    time.
                </p>
            </div>
        </div>
    </div>
</section>
