<!-- CTA Finale -->
<section class="text-center bg-[#0f0b1c]">
    <div>
        <h2 class="text-center">Creiamo la tua prossima storia insieme</h2>
        <a>
            <span>Iniziamo un progetto</span>
            <span>→</span>
        </a>
    </div>
</section>
