<!-- Footer -->
<footer>
    <div>
        <div class="grid grid-cols-3">
            <div>
                <h5>Giovanni Uguccioni</h5>
            </div>
            <div>
                <h5>Contatti</h5>
                <p>
                    +39 331 854 4999 · <a>giovanniuguccioni23@gmail.com</a>
                </p>
            </div>
            <div>
                <h5>Lingua</h5>
                <p>
                    <a>Italiano</a>
                </p>
            </div>
        </div>
        <div class="text-center">
            © 2025 Giovanni Uguccioni – All rights reserved
        </div>
    </div>
</footer>
