<!-- Header -->
<header>
    <div class="flex flex-row items-center justify-between p-5">
        <div class="font-bold text-2xl">Giovanni Uguccioni</div>
        <nav class="hidden md:flex flex-row gap-4">
            <a class="p-2">Lavori</a>
            <a class="p-2">Chi sono</a>
            <a class="p-2">Servizi</a>
            <a class="p-2">Contatti</a>
            <a class="bg-gray-300 text-black p-2">Scrivimi!</a>
        </nav>
    </div>
</header>
