<!-- Hero -->
<section class="text-center bg-[#0f0b1c] p-20">
    <div></div>
    <div></div>
    <div>
        <h1 class="text-5xl font-bold">
            Where <span class="text-[#1b7dec]">Creativity</span> meets <span class="text-[#1b7dec]">Emotion</span>
        </h1>
        <p>
            We design, film, and tell stories that connect brands with people –
            through visuals that move hearts.
        </p>
        <a>↓ Explore our world</a>
    </div>
</section>
