<article class="h-100 p-4">
    <div class="h-full relative overflow-hidden text-white p-6 flex flex-col justify-between rounded-3xl">
        <div></div>
        <!-- Immagine come sfondo -->
        <img 
            src="https://t3.ftcdn.net/jpg/01/20/28/24/360_F_120282465_htIcYKYiSb98hIrhL6X6ilI0z8vn19LY.jpg"
            alt=""
            class="absolute inset-0 w-full h-full object-cover -z-10"
        >

        <!-- Contenuto -->
        <div>
            <h3 class="text-xl font-semibold">Pianca – Armonie</h3>
            <span>View →</span>
        </div>
    </div>
</article>
