<!-- Services -->
<section>
    <div></div>
    <div>
        <h2 class="text-center">Di cosa mi occupo</h2>
        <div class="grid grid-cols-3">
            <div>
                <h3>Produzione Video</h3>
                <p>
                    Da spot cinematici a documentari di brand, catturo emozioni
                    con precisione.
                </p>
            </div>
            <div>
                <h3>Design & Branding</h3>
                <p>
                    Visual identities that speak louder than words – crafted to
                    stand out.
                </p>
            </div>
            <div>
                <h3>Post produzione</h3>
                <p>
                    Editing, color grading, and motion that breathe life into
                    every project.
                </p>
            </div>
        </div>
    </div>
</section>
