---
import ProjectCard from "../components/ProjectCard.astro"
---

<!-- Works -->
<section class="m-3 p-4">
    <div>
        <h2 class="text-center text-3xl font-bold">I miei lavori</h2>
        <div class="flex flex-col md:grid grid-cols-3">
            <ProjectCard />
            <ProjectCard />
            <ProjectCard />
        </div>
    </div>
</section>
